:root {
  font-size: 10px;
  --var-main-margin-top: 202px;
  --var-main-margin-bottom: 205px;

  --content-width-max: 122rem;
  --content-wide-width-max: 170rem;

  --content-desktop-margin: 5rem;
  --content-tablet-margin: 3rem;
  --content-mobile-margin: 2rem;
}